- load "docs/haml/helpers.rb"

%html
    = render_partial :head

    %body
        = render_partial :page_header
        = render_partial :sidebar

        %section.components
            - component_files = Dir["docs/haml/components/*.haml"]
            - component_files.each do |component_file|
                - component_name = component_file.split("/").last.split(".").first
                %section.component{id: "#{component_name}-component"}
                    = render component_file