%div.example-component
    = html
%div.source-code
    %div.source-html
        %pre
            %code
                = preserve do
                    &= html
    %div.source-css
        %pre
            %code
                = preserve do
                    &= css
    %div.source-js
        %pre
            %code
                = preserve do
                    &= js